<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./view/assets/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Web study</title>
</head>
<body>
    <footer>
        <div class="footer-container">
            <!-- box 1 -->
            <div class="footer-box">
                <div class="footer-main-text">Thông tin liên hệ</div>
                <a href="mailto:mngoc@2zulieu.com" style="color: #fff; text-decoration: none;">Email: Mail Admin</a>
            </div>
            <!-- box 2 -->
            <div class="footer-box">
                <div class="footer-main-text">More info</div>
                <div class="footer-sub-text"><a href="">Home</a></div>
                <div class="footer-sub-text"><a href="">About</a></div>
                <div class="footer-sub-text"><a href="">Course</a></div>
                <div class="footer-sub-text"><a href="">Study</a></div>
            </div>
            <!-- box 3 -->
            <div class="footer-box">
                <div class="footer-main-text">Liên hệ</div>
                <div class="footer-sub-text"><a href="">Facebook</a></div>
                <div class="footer-sub-text"><a href="">Tiktok</a></div>
            </div>
            <!-- box 4 -->
            <div class="footer-box">
                <div class="footer-main-text">Hỏi đáp</div>
                <div class="footer-mail-inbox-container">
                    <input class="footer-mail-inbox" placeholder="Email + câu hỏi">
                    <button class="footer-mail-inbox-button">Gửi</button>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <script src="./view/assets/js/main.js"></script>
    <!-- ion icon start -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>